.container {
  animation: slideDown 0.6s ease 1;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.link {
  transition: all 0.2s ease;
  background: transparent;
}

.link:hover {
  transform: translateY(-12%);
  color: white;
  text-shadow: 0 18px 4px rgba(255, 253, 253, 0.098);
}

.smScreenLink {
  transition: all 0.2s ease;
  background: transparent;
  color: rgba(255, 255, 255, 0.739);
}

.smScreenLink:active {
  color: white;
  transform: scale(0.9);
}

.activeNavbar {
  left: 0px;
  top: 120px;
  transition: all 0.4s ease;
}

.inactiveNavbar {
  left: 1000px;
  top: 120px;
  transition: all 0.4s ease;
}
